<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jin.dao.UserMapper">
   <select id="getUserNums" resultType="integer"  parameterType="com.jin.entity.dto.UserDto">
       SELECT COUNT(*) FROM user_table WHERE 1=1
       <if test="id !=null and id !=''">
            AND id=#{id}
       </if>
       <if test="name !=null and name !=''">
           AND name=#{name}
       </if>
       <if test="age !=null and age !=''">
           AND age=#{age}
       </if>
       <if test="phone !=null and phone !=''">
           AND phone=#{phone}
       </if>
       <if test="email !=null and email !=''">
           AND email=#{email}
       </if>
   </select>

    <select id="getUserDetails" parameterType="com.jin.entity.dto.UserDto" resultType="com.jin.entity.po.UserPo">
        SELECT * FROM user_table WHERE 1=1
        <if test="id !=null and id!=''">
            AND id=#{id}
        </if>
        <if test="name !=null and name !=''">
            AND name=#{name}
        </if>
        <if test="age !=null and age !=''">
            AND age=#{age}
        </if>
        <if test="phone !=null and phone !=''">
            AND phone=#{phone}
        </if>
        <if test="email !=null and email !=''">
            AND email=#{email}
        </if>
        <if test="pageNum !=null and pageNum !=''">
            LIMIT #{pageSize},#{pageNum}
        </if>
    </select>

    <insert id="setUserInfo" parameterType="com.jin.entity.po.UserPo">
        INSERT INTO user_table(name,age,phone,email) VALUE (#{name},#{age},#{phone},#{email})
    </insert>

    <update id="updateUserInfo" parameterType="com.jin.entity.po.UserPo">
        UPDATE user_table SET name=#{name},age=#{age},phone=#{phone},email=#{email} WHERE id=#{id}
    </update>

    <delete id="deleteUserInfo" >
        DELETE FROM user_table WHERE  id=#{id}
    </delete>

    <delete id="batchDeleteUserInfo" >
        DELETE FROM user_table WHERE  id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getProductInfoByUserId" parameterType="integer" resultType="com.jin.entity.po.ProductPo">
        SELECT * FROM product_table WHERE id IN
        (
        SELECT productId FROM order_product_table WHERE orderId IN
        (
        SELECT id FROM order_table WHERE userId = #{userId})
        );
    </select>
</mapper>